@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
    <h3>@b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Page Count: @b.PageCount</li>
        <li>Price: $@b.Price</li>
    </ul>
    <br />

}

<div page-links="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right"></div>